---
import Layout from '@layouts/Layout.astro'
import { addContact } from '@lib/pocketbase'
import '@styles/global.css';

let contact = {}
let flash = ""
let errors = {}
  
if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const first = formData.get('first')?.toString() || ''
  const last = formData.get('last')?.toString() || ''
  const phone = formData.get('phone')?.toString() || ''
  const email = formData.get('email')?.toString() || ''


  
  try {
      contact = await addContact({
          first,
     	  last,
	  phone,
  	  email,
      })

      flash = "Contact created!"
  
  } catch (e) {
     console.log(`New ${e}`)
     errors = e.errors
     contact = e.contact
  }

}
---

<Layout flash={flash}>
  <form action='/contacts/new' method='post'>
    <fieldset>
      <legend>Contact Values</legend>
      <p>
        <label for='email'>Email</label>
        <input
          name='email'
          id='email'
          type='text'
          placeholder='Email'
          value={contact.email}
        />
        {errors?.email && <span class='error'>{errors?.email}</span>}
      </p>

      <p>
        <label for='first'>First Name</label>
        <input
          name='first'
          id='first'
          type='text'
          placeholder='First Name'
          value={contact.first}
        />
        {errors?.first && <span class='error'>{errors?.first}</span>}
      </p>
      <p>
        <label for='last'>Last Name</label>
        <input
          name='last'
          id='last'
          type='text'
          placeholder='Last Name'
          value={contact.last}
        />
        {errors?.last && <span class='error'>{errors?.last}</span>}
      </p>
      <p>
        <label for='phone'>Phone</label>
        <input
          name='phone'
          id='phone'
          type='text'
          placeholder='Phone'
          value={contact.phone}
        />
        {errors?.phone && <span class='error'>{errors?.phone}</span>}
      </p>
      <button>Save</button>
    </fieldset>
  </form>

  <p>
    <a href='/contacts'>Back</a>
  </p>
</Layout>