---
export const partial = true
import '@styles/global.css';

import { getContacts } from "@lib/pocketbase"

//Initial request
const formData = await Astro.request.formData()
let q = formData.get("q")?.toString()

//Once the pagination starts
if (!q) {
    q = new URL(Astro.request.url).searchParams.get("q") || 1;
}

let page = new URL(Astro.request.url).searchParams.get("page") || 1;

page = parseInt(page)

console.log(`contact-rows q:${q} page: ${page}`)

const limit = 10

const contacts = await getContacts({ q, limit, page })
---
{
    contacts?.map(contact => (
      <tr>
        <td>
            <input 
                type="checkbox" 
                id="selected_contact_ids"
                name="selected_contact_ids"
                value={contact.id}
            >
        </td>
        <td>{contact.first}</td>
        <td>{contact.last}</td>
        <td>{contact.phone}</td>
        <td>{contact.email}</td>
        <td>
          <a href={`/contacts/${contact.id}/edit`}>Edit</a>
          &nbsp;
          <a href={`/contacts/${contact.id}`}>View</a>
          &nbsp;
          <a href="#" 
            hx-confirm="Are you sure?" 
            hx-target="closest tr" 
            hx-swap="outerHTML swap:1s"
            hx-delete={`/contacts/${contact.id}/delete`}
           >Delete</a>
        </td>
      </tr>
    ))
  }
  {
   contacts.length == limit && (
      <tr>
        <td colspan='5' style='text-align: center'>
          <button
            hx-target='closest tr'
            hx-swap='outerHTML show:bottom'
            
            hx-post={`/contacts/partials/contact-rows/?q=${q}&page=${page + 1}`}>
            Load More
          </button>
        </td>
      </tr>
    )
  }